[run]
branch = True
source =
    tasks.small_molecule.core
omit =
    */core/activity_modeling/*
    */core/analog.py
    */core/dependencies.py
    */core/docking.py
    */core/ldm_tilted_case2/loop.py
    */core/workflow.py

[report]
fail_under = 80
show_missing = True
skip_empty = True
precision = 1
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    \.\.\.
